<main>
	<h1>Editing Book</h1>

	<%= form_for(@book) do |book| %>

	<h4>タイトル</h4>
	<%= book.text_field :title %>

	<h4>Body</h4>
	<%= book.text_area :body %>
	<%= book.submit 'Update Book' %>

	<div class="back">
	<%= link_to 'Show', book_path(@book.id) %>
	<p>|</p>
	<%= link_to 'Back', new_book_path %>
	<% end %>
</main>